*{
  margin:0px;
  padding: 0px;
}
.white{
  color: white;
}
.light-gray{
  background: #F5F5F5;
}
.yellow{
background: #FFD70C !important;
}
.margin-bottom-5{
margin-bottom: 0.5rem !important;
}
.nameT , .add{
  width: 100%;
  background: #f1f1f1;
  height: 70px;
  position: relative;
  float: left;
  border-radius: 7px;
  margin-top: 40px;
}
.add h1{
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  cursor: pointer;
  font-size: rgba(0,0,0,.6);
}
.fotoT{
  background: #ffff;
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-top: 10px;
  position: relative;
  float: left;
  border-radius: 50%;
}
.nameT h1{
  cursor: default;
  position: relative;
  float: left;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 20px;
}
select{
  /*margin-top: 20px;*/
  width: 100%;
  height: 35px;
  /*margin-left: 20px;*/
  position: relative;
  /*float: left;*/
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.4);
  font-weight: 500;
}
button{
  /*float: left;*/
  border: none;
  border-radius: 5px !important;
  outline: none;
  cursor: pointer;
}
.tit{
  width: 100%;
  height: 40px;
  position: relative;
  float: left;
}
.tit h1{
  color: rgba(0,0,0,.8);
  padding-left: 20px;
  margin-top: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

td, th {
    width: 100px;
    height: 30px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
}
#medio{
  display: flex;
  justify-content: center;
  align-items: center;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
}
.button-100{
  width: 100%;
}
.padding-bar {
    padding: 0.75em !important;
}
input{
   border:none !important;
}
input:focus{
  border-color: #FFD70C !important;
}
.line-input{
  border-bottom: 1px solid #BBBBBB !important;
}
.is-vertical-center{
  display: flex;
  align-items: center;
}
