{% load staticfiles %}
<!DOCTYPE html>

{% block content %}
{% include 'navbar.html' %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre Categoria</th>
      <th scope="col">Fecha Creacion</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

  {{ data }}

  {% for datos in object_list %}
    <tr>
    <th scope="row">{{datos.id}}</th>
    <td>{{datos.nombre_categoria}}</td>
    <td>{{datos.fecha_creacion}}</td>
    <td>
      <a href="{% url 'productos:editar_categoria' datos.id %} "><button type="button" class="btn btn-info" name="button">Editar</button></a>
      <a href="{% url 'productos:eliminar_categoria' datos.id %} "><button type="button" class="btn btn-danger" name="button">Borrar</button></a>
    </td>
    </tr>
  {% empty %}
  <tr>
  <th scope="row">No hay Categorias</th>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
  <a href="{% url 'productos:nueva_categoria'%} "><button type="button" class="btn btn-primary" name="button">Nueva categoria</button></a>
