{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h1>Categoria</h1>
      <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" name="button">Enviar</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
