{% load staticfiles %}
<!DOCTYPE html>

{% block content %}
{% include 'navbar.html' %}
{% for datos in diccionario %}
<div class="cont_principal">
  <div class="descripcion">{{datos.1}}</div>

  <div class="img"><i class="fas fa-image"></i></div>
  <!-- <div class="precio-categoria">
    <div class="cont_pc">{{datos.0}}</div>
    <div class="cont_pc">Hay {{datos.3}} Productos</div>
  </div> -->
  <div class="nombre">{{datos.0}}</div>
  <div class="precio-categoria">
    <div class="cont_pc">${{datos.2}}</div>
    <div class="cont_pc">{{datos.4}}</div>
  </div>
  <div class="carrito">
    <input  id="cantidad_{{datos.5}}" type="number" min="0" max="{{datos.3}}" value="0">
    <i onclick="agregar_carrito('{{datos.5}}','{{datos.2}}','{{datos.0}}')" class="fas fa-cart-plus"></i>
    <p onclick="agregar_carrito('{{datos.5}}','{{datos.2}}','{{datos.0}}')" >Agregar carrito</p>
  </div>
</div>

{% empty %}
  <p>No hay Categorias</p>
{% endfor %}



<div id="resumenCarrito" class="mostrar_carrito">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody id="cuerpo_tabla">

    </tbody>
  </table>
  <p id="total">Total: $0</p>
  <div class="precio-categoria">
    <div onclick="inicializar_datos()" style="color:white" class="cont_pc btn btn-danger">Vaciar</div>
    <div onclick="comprar()" style="color:white" class="cont_pc btn btn-info">Comprar</div>
  </div>
</div>

{% endblock %}
