{% load staticfiles %}
<!DOCTYPE html>

{% block content %}
{% include 'navbar.html' %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Costo</th>
      <th scope="col">Numero de existencias</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>



  {% for datos in diccionario %}
    <tr>
    <th scope="row">{{datos.id}}</th>
    <td>{{datos.nombre_producto}}</td>
    <td>{{datos.descripcion}}</td>
    <td>{{datos.costo}}</td>
    <td>{{datos.numero_existencias}}</td>
    <td>
      <a href="{% url 'productos:editar_producto' datos.id %} "><button type="button" class="btn btn-info" name="button">Editar</button></a>
      <a href="{% url 'productos:eliminar_producto' datos.id %} "><button type="button" class="btn btn-danger" name="button">Borrar</button></a>
    </td>
    </tr>
  {% empty %}
    <p>No hay Categorias</p>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
  <a href="{% url 'productos:nuevo_producto'%} "><button type="button"class="btn btn-primary" name="button">Nuevo producto</button></a>
